<div class="container mt-3">
    <div class="text-center">
        <h2>My polls</h2>
        <p *ngIf="polls?.length == 0">Looks like haven't made any polls yet...</p>
    </div>
    <div class="row" *ngIf="polls?.length > 0">
        <div class="col" *ngFor="let poll of polls">
            <mdb-card>
                <mdb-card-body>
                    <mdb-card-title>
                        <h4>{{poll.name}}</h4>
                    </mdb-card-title>
                    <mdb-card-text>
                        <ul>
                            <li *ngFor="let answer of poll.answers">
                                {{shorten(answer.answer)}}
                            </li>
                        </ul>
                    </mdb-card-text>
                    <div class="flex-row">
                        <a class="card-link">View</a>
                        <a class="card-link" [routerLink]="['polls/edit', poll.pollID]">Edit</a>
                        <a class="card-link" (click)="deletePoll(poll.pollID)">Delete</a>
                    </div>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
</div>
