<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" routerLink="/">{{title}}</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>
        <!-- Links  left-->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>About</a>
            </li>
        </ul>

        <!--Links right-->
        <ul class="navbar-nav ml-auto nav-flex-icons" *ngIf="isLoggedIn; else notLoggedIn">
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink="polls/new" routerLinkActive="active" mdbWavesEffect>Create poll</a>
            </li>
            <li class="nav-item">
                <a mdbDropdown dropdownToggle type="button" class="nav-link dropdown-toggle">
                    <mdb-icon fas icon="user"></mdb-icon>
                    <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" routerLink="friends">My Friends</a>
                        <div class="divider dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Settings</a>
                        <div class="divider dropdown-divider"></div>
                        <a class="dropdown-item" (click)="logout()">Logout</a>
                    </div>
                    {{username}}
                </a>
            </li>
        </ul>

        <ng-template #notLoggedIn>
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item" routerLink="/login" routerLinkActive="active">
                    <a class="nav-link waves-light" mdbWavesEffect>Login</a>
                </li>
                <li class="nav-item" routerLink="/register" routerLinkActive="active">
                    <a class="nav-link waves-light" mdbWavesEffect>Register</a>
                </li>
            </ul>
        </ng-template>
    </links>

</mdb-navbar>
