<table mdbTable class="z-depth-1">
    <thead>
    <tr>
        <th [mdbTableSort]="friends" sortBy="friend.firstName">Firstname</th>
        <th [mdbTableSort]="friends" sortBy="last">Lastname</th>
        <th [mdbTableSort]="friends" sortBy="handle">{{isIncoming ? 'Action' : 'Status'}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let friend of friends">
        <th scope="row">{{friend.friend.firstName}}</th>
        <td>{{friend.friend.lastName}}</td>
        <td>
            <friends-action-button [friend]="buildFriend(friend.friendID, friend.friendStatus)" [isIncoming]="isIncoming"></friends-action-button>
        </td>
    </tr>
    </tbody>
</table>
