<div class="container mt-3">
    <h2 class="text-center">Create a new pollId</h2>

    <form class="poll-form" [formGroup]="pollForm" (ngSubmit)="onFormSubmit()">
        <div class="field-wrapper">
            <input type="text" class="field title" formControlName="title" placeholder="Enter title or question">
        </div>

        <div formArrayName="optionFields">
            <div class="field-wrapper" *ngFor="let field of optionFields.controls; let i=index;">
                 <input type="text" class="field" value="{{field.value}}" formControlName="{{i}}" placeholder="Option #{{i+1}}" (focus)="onOptionFieldFocused(i)">
            </div>
        </div>

        <div class="bottom">
            <ng-select
                    formControlName="invitedFriends"
                    [multiple]="true"
                    [items]="friends"
                    bindLabel="friend.fullName"
                    bindValue="friend.memberID"
                    notFoundText="Not found"
                    placeholder="Invite friends"
                    clearAllText="Clear"
                    class="mt-3">
            </ng-select>
            <button class="btn btn-info my-4" type="submit" [disabled]="formSubmitted">Save changes</button>
        </div>
    </form>
</div>
