<div class="container">
    <h2>Friends</h2>

    <friend-request-field title="Add friends" subtitle="Emails are separated by a semicolon (;)" separator=";"></friend-request-field>

    <h3>Requests</h3>
    <app-spinner [show]="!friendRequests"></app-spinner>
    <div *ngIf="friendRequests?.length > 0">
        <friend-list [friends]="friendRequests" [isIncoming]="true"></friend-list>
    </div>
    <p *ngIf="friendRequests?.length == 0">No friend requests received yet</p>

    <div class="mt-3">
        <h3>List</h3>
        <div *ngIf="friends && friends.length > 0; else noFriends">
            <friend-list [friends]="friends" [isIncoming]="false"></friend-list>
        </div>
        <ng-template #noFriends>
            <app-spinner [show]="!friends"></app-spinner>
            <span *ngIf="friends?.length == 0">You don't have any friends yet :(</span>
        </ng-template>
    </div>

</div>
